.body{
    width: 100%;
    padding: 0 10%;
    align-items: center;
    text-align: center;
}

.body h2 {
    text-align: center;
}

.body p {
    text-align: center;
}

button {
    background-color: rgb(126, 123, 123);
}

