.header {
    width: 100%;
    height: 6rem;
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(116, 5, 219);
}
  /*   .header nav {
        height: 100%;
    }

    .header ul {
        height: 100%;
        display: flex;
        padding: 0;
        margin: 0;
    }

    .header li {
        margin: 0 1rem;
        width: 2rem;
    }

    .header a {
    color: white;
    }
 */
    .nav ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
      }
      
      .nav li {
        margin-left: 6rem;
        font-size: 1.25rem;
      }
      
      .nav a {
        text-decoration: none;
        color: #060707;
      }
      
      .nav a:hover,
      .nav a:active,
      .nav a.active {
        color: #e6fcfc;
      }
      